*{
    margin: 0;
    padding: 0;
    font-family: 'Gotham';
    font-weight:lighter;    
    
}
.main-container{
    margin: 0%;
    height: 100vh;
    width: 100vw;
    background-color: #212121;
    font-family: 'Gotham';
    font-weight:lighter;    
    
}
.login_page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #121212;
}

.login_form{
    color: #fff;
    background-color: #212121;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.login_form input{
    height: 30px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
}

.login_form button{
    width: 200px;
    height: 50px;
    
    box-shadow: none;
    background-color:#fff;
    border-width: 0;
    border-radius: 5px;
}

.Signup{
    text-decoration: none;
    color: #fff;

}

.login_form button:hover{

    background-color:dimgrey;

}
.login_form .spotify-logo{
    width : 250px;
}
.sidebar-containter{
    height: 80vh;
    width: 20vw;
    background-color: #121212;
    color: aliceblue;
}

.bottom-bar{
    position: absolute;
    height: 15vh;
    width: 100vw;
    background-color: #212121;
    border-top: 0.05px solid #b3b3b3 ;
    display: flex;
    justify-content: center;
    
}


.bottom-bar .title{
    position:absolute;
    align-self: center;
    margin-left: -65vw ;
    color: #fff;
}

.bottom-bar .volume_control{
    position: absolute;
       display: flex;
       gap: 15px;
       align-self: center;
       margin-right: -70vw;
    }

    .bottom-bar .title .duration{
        position: absolute;
        margin-left: 10px;
    
    }
    
    .bottom-bar .title .slider{
        width: 28vw;
    }

.wrapper_wrapper{
    display: flex;
  
}

.sidebar-containter{
height: 84vh;
}

.sidebar-containter img{
    width: 50%;
    padding: 20px;
    
}
.sidebar-menu{
    margin-left: 1rem;
    list-style: none;
    line-height: 40px;
}

.sidebar-menu li span{
    margin-right: 1rem;
}

.side-bar-link{
   
    text-decoration: none;
    color: #fff;
}

.side-bar-link span{
    margin-right: 1rem;
}
.content-wrapper{
    
    margin-top: 0;
    float: right;
    width: 80vw;
  
}

.view_name{
    margin-left : 10px;
    margin-top: 10px;
    color:rgb(128, 128, 128);
    font-size: 1rem;
    font-weight:bolder;
}

.content-wrapper .content{
    color: #fff;
  
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 250px;
    background-color: #121212;
    border-radius: 10px;
    font-size: 0.8rem;
}

.card .description{
    padding-top: 0.8rem ;
    position: relative;
    padding-left: 1rem;
  
}

.card .description h2{
    font-size: 15px;

}
.card .description h3{
    font-size: 12px;
    color: #b3b3b3;
    
}

.card img{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
    border-radius:10px;
    width: 220px;
    height: auto;
}

.AboutCard{
    background-color:#363535;
    width: 900px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;

    gap: 10px;
}

.AboutCard p{
    width: 400px ;
    font-size: 18px;
}

.about-image{
    display: flex;
    width: 450px ;
    image-rendering: optimizeSpeed;
}


.controls{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: #fff;
}

.control_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    width: 60px;
    height: 60px;
    background-color: #363535;
    border-radius: 30px;

}

.videos{
    display: flex;
    gap: 30px;
}
.content-scroll{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    gap: 1.5rem;
    height: 50vh;
    width: 79vw;
}

.content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.header-wrapper{
    background-color: #363535;
    width: 80vw;
    height: 200px;
    display: flex;

 
}

.header-image{
    height: auto;
  
}
.header-text{
    margin-right: 200px;
    margin-left: 100px;
}

.header_title{
    margin-top: 100px;
    font-size: 50px;
    font-style: italic;
}
.header-text p{
    font-style: italic;
    font-weight:lighter;
    font-size: 18px;
    color: #b3b3b3;
}

.upload-wrapper{
    width: 100%;
    height: 100vh;
    background-color:#121212;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

  
}

.file-item{
    list-style: none;
    
}

.uploadForm{

    color: #fff;
    background-color: #212121;
    height: 80vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 20px;
    border-radius: 20px;

}

.uploadForm input{
    height: 30px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
}

.uploadForm Button{
    width: 7rem;
    height: 2rem;
}

.uploadForm .fileInput{
    width: 20rem;
}

.TopBar{
    width: 100vw;
    height: 6vh;
    background-color: #212121;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
}

.edify-logo{
  
    margin-left: 1rem;
    
}

.topbar-nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
   list-style: none;
}

.topbar-nav-item{
    align-self: center;
    color: #fff;
    text-decoration: none;
    
}

.topbar-nav-item .link .icon{
    text-decoration: none;
    color: #fff;
}
.navicon{
    visibility: collapse;
}


@media only screen and (max-width: 600px) {
    
    .navicon{
        margin-top: 15px;
        z-index: 3;
        position: fixed;
        margin-left: 15px;
        color: #fff;
    }

    .header-wrapper{
        background-color: #363535;
        width: 100vw;
        height: 150px;
        display: flex;
       justify-content: space-around;
     
    }

    .videos{
        display: flex;
        flex-direction: column;
    }
    .view_name{
        visibility: collapse;
    }

    .header-image{
       margin-right: 0px;
    }

    .header-text{
      margin-right: 0px;
    }
    
    .header_title{
        margin-top: 50px;
        font-size: 12px;
        font-style: italic;
    }
    .header-text p{
        font-style: italic;
        font-weight:lighter;
        font-size: 12px;
        color: #b3b3b3;
    }
    
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
        width: 150px;
        background-color: #121212;
        border-radius: 10px;
        font-size: 0.8rem;
    }
    
    .card .description{
        padding-top: 0.8rem ;
        position: relative;
        padding-left: 1rem;
      
    }
    
    .card .description h2{
        font-size: 15px;
    
    }
    .card .description h3{
        font-size: 12px;
        color: #b3b3b3;
        
    }
    
    .card img{
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        
        border-radius:10px;
        width: 120px;
        height: auto;
    }
  
    .content-scroll{
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
        justify-content: center;
        gap: 1.5rem;
        height: 50vh;
        width: 100vw;
        margin-left: 0px;
    }

    .sidebar-containter{
       position: absolute;
       z-index: 2;
       width: 90vw;
       margin-left: -100%;
    }

    .bottom-bar{
        width: 100vw;
        position: absolute;
        bottom: 0px;
        height: 70px;
    }

  
    .bottom-bar .title {
       position: absolute;
        top: 20px;
        left: 70%;
    }

    .duration{
        visibility: collapse;

    }

   #shuffle-button{
    visibility: collapse;
   }
    
   #backward-button{
    visibility: collapse;
   }

   #forward-button{
    visibility: collapse;
   }

   #repeat-button{
    visibility: collapse;
   }

   #play-button{
    margin-left: 60%;
   }
    .bottom-bar .title .slider{
        visibility: collapse;

    }

    .volume_control{
        visibility: hidden;
    }

    .volume-slider{
        visibility: hidden;
    }

  }